body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;

    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#top-nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1)
}

#top-nav h1 {
    margin: 0 5px;
    cursor: default;
    color: rgb(255, 255, 255);
    transition: all 0.15s ease;
}

#top-nav p {
    margin: 0 5px;
    cursor: default;
    color: rgb(255, 255, 255);
    transition: all 0.15s ease;
}

input[type="text"] {
    background: transparent;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    margin-bottom: 5rem;
    font-size: xx-large;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 40px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 3px solid #333;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

input[type="color"]::-moz-color-swatch {
    border: 3px solid #333;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet {
    width: 150px;
    height: 150px;
}

#actions-container { position: absolute; bottom: 20px; }

.action {
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    font-size: 32px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 2px;
    transition: all 0.12s ease;
}

.action:hover {
    transform: translateY(-2px);
}

.action:active {
    transform: scale(0.95);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(20, 20, 20);
        color: white;
    }

    #pet {
        fill: rgb(100, 100, 100);
    }

    .action {
        background-color: black;
        border: 2px solid white;
    }
}